.logo-apple,
.dropdown-icon {
  width: 64px;
  height: 24px;
}

/* Colore per "Accedi" */
.text-orange {
  color: #f85769;
  font-size: 1rem;
}
.logo-apple {
  margin: 0 auto;
}

.dropdown-icon {
  margin: 0 auto;
}

h1 {
  margin: 0;
}
