.icon-color {
  fill: #f85769;
}

.search-bar {
  background-color: #343a40;
  border: 1px solid #979798;
  border-radius: 5px;
}

.search-bar .form-control {
  background-color: #343a40;
  border: none;
  color: #979798;
}

.search-bar .input-group-text {
  background-color: #343a40;
  border: none;
  color: #f85769;
}

.logo-white {
  fill: white;
}
.sidebar-border {
  border-right: 2px solid #444;
}

/* NuoveUscite.css */
.card-uscita {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-dark-secondary {
  background-color: #343a40;
}

.card-uscita .p-2 p.small {
  color: white;
}

/* AltroDaEsplorare.css */
.bg-dark-secondary {
  background-color: #343a40;
}

.item-esplora {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-esplora:hover {
  background-color: #444c56;
}

.text-custom {
  color: #f85769;
}

/* MusicPlayer.css */
.album-art {
  width: 40px;
  height: 40px;
  background-color: #282828;
}

.song-info p {
  margin-bottom: 0;
  line-height: 1.2;
}
